.container {
  height: 100%;
}

.center {
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background: #efefef;
  text-align: center;
  padding: 20px 40px;
}

.box > h1 {
  margin: 0 0 8px 0;
}

.box > button {
  padding: 10px 20px;
}
